 /**
    *=================
    Custom CSS definitions goes here
    *=================
    **/
    .form_field_round, #form_field_round{
    border-radius:40px !important;border:2px solid #dfdfdf;box-shadow:1px 1px 1px 1px #efefef;
    height:80px;width:35vw;font-size:16px;font-weight:500;
    }
    
    .btn-circle{
      border-radius:50%;background: #0d2453;color:#fff;width:70px;height:70px;border:0 !important;
      margin:5px -3px 5px 0;
    }
    
    h1,h2,h3,h4,h5,h6{
      font-family:GD Sherpa Regular;font-family:30px;
}

.page_sec{

  margin-bottom: 40px !important;
}

.grid-layer{
display:grid;grid-template-columns: 48% 52%;grid-gap:35px;
    }
.capitalize{
  text-transform: capitalize !important;line-height:40px;font-size:26px;
}

.layer-col-6 img{
border-radius:25px;rotate: 15deg;
}
.layer-col-6{
  display:flex;justify-content: flex-end;
  padding:30px 
}
.p-right{
  padding:200px 95px;text-align:Center;
}
@media(max-width:768px){
  .p-right{
    padding:180px 41px;text-align:Center;
  }
    
}

@media(max-width:425px){
.page_sec{
  display:none !important;
}
  .grid-layer{
    display:none;
    flex-direction: column-reverse;
    
  }

}



    .grid-box{
      display:grid;
      grid-template-columns: 79% 21%;grid-gap:0px;
      margin-bottom:25px;
    }
    .hero-image-campaign.default {
      background-image: url(../img/banners/default-20221018-mobile.jpg);
      background-repeat:no-repeat;background-position:top center;
  }

.show-on-medium-and-down img, .show-on-large-only img{
  border-radius:20px;
}

.header_logo{
  width:128px;height:128px;background:none;
}

.grid_ui{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-gap:1rem;
}
.grid_ui h1{
  color:#0d3455;font-size:6rem;
}
.grid_ui .page-section__paragraph{
  font-size:1rem;font-weight: 700;
}
.grid_ui .col-3__heading{
  font-size:1.4rem;
}
.icon-h3{
  fill:#0099cc;
}