body{font-family:'Spartan','GD Sherpa Regular';}
.new-header.scrolled{
background-color: #fff !important;
transition: background-color 200ms linear;
}
  
  .new-header__menu--item{
	font-family:'Open Sans';
  }
  
  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  .wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
	/* clip-path: circle(25px at calc(0% + 45px) 45px); */
	background:#fff;
	clip-path: circle(25px at calc(100% - 45px) 45px);
	transition: all 0.3s ease-in-out;
  }
  
  #active:checked ~ .wrapper{
	clip-path: circle(75%);
  }
  .menu-btn{
	position: absolute;
	z-index: 2;
	right: 20px;
	/* left: 20px; */
	top: 30px;
	height: 50px;
	width: 60px;
	text-align: center;
	font-size: 30px;font-weight:400;
	color: #434345 !important;
	cursor: pointer;
	border-radius: 50%;
	line-height: 10px !important;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
	/*background: #41509a !important;*/
	background-color: none !important;
  }

  #active:checked ~ .menu-btn{
	color: #434343 !important;
  }
  #active:checked ~ .menu-btn i:before{
	content: "\f00d";
  }
   
 
  .wrapper ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	background:none;
  }
  .wrapper ul li{
	margin: 12.5px 0;text-align: left !important;
  }
  .wrapper ul li a{
	color: none;
	text-decoration: none;
	font-size: 31px;
	font-weight: 800 !important;
	padding: 5px 30px;
	color: #434345;
	background:none;
	position: relative;
	line-height: 50px;
	transition: all 0.3s ease;
	text-align:left !important;
  }
  .wrapper ul li a:after{
	position: absolute;
	content: "";
	background:none;
	width: 104%;
	height: 110%;
	left: -2%;
	top: -5%; /* if the font is 'Oswald'*/
	transform: scaleY(0);
	z-index: -1;
	animation: rotate 1.5s linear infinite;
	transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
	transform: scaleY(1);
  }
  .wrapper ul li a:hover{
	color: #434345;
  }
  input[type="checkbox"]{
	display: none;
  }
  


  .grid_base{
	display:grid;grid-template-columns: repeat(3);
  }
  .text-sm{
	font-size:13px !important;color:#434345 !important;font-weight:900 !important;
  }
  .icon-small{
top:37px;
  }

  .svg_logo{
   display:none; 
  }

  .grid_case{
		display:grid;grid-template-columns:28% 23% 23% 25%;
	}
	.grid_case .social{
		position:relative;top:-30px;
	}
	.texts_href{
		display:grid;grid-template-columns: 33% 33% 33%;grid-gap:3px;
	}

	.grid_case .href{
		font-size:11px !important;font-weight:800;color:#434345;
	}

  @media(max-width:1024px){
	.wrapper ul li a{
		color: none;
		text-decoration: none;
		font-size: 31px;
		font-weight: 800 !important;
		padding: 5px 30px;
		color: #434345;
		background:none;
		position: relative;
		line-height: 50px;
		transition: all 0.3s ease;
		text-align:left !important;
	  }
	
	  .grid_case{
		display:grid;grid-template-columns:34% 22% 20% 29%;
	}
	.grid_case .social{
		position:relative;top:-15px;left:28px !important;
	}
	}

 @media(max-width:425px){
	.wrapper ul li a{
		color: none;
		text-decoration: none;
		font-size: 22px !important;
		font-weight: 900 !important;
		padding: 0 35px;
		color: #434345;
		background:none;
		position: relative;
		line-height: 48px;
		transition: all 0.3s ease;
		text-align:left !important;
	  }
	  .hidden-425{
		display:none;
	  }

	  .hr{
		display:relative !important;top:-45px;left:18px !important;
	}
	.grid_case{display:grid;grid-template-columns:54% 23% 23% !important;
  grid-gap:0;}
	  .grid_case .href{
		font-size:7px !important;
	  }

	  .social{top:-24px;display:flex;flex-direction:row;}
    
	  .icon-small{
		top: 22px !important;
		left: -20px;
	 }
}
	 @media(max-width:320px){
		.icon-small{
			top: 22px !important;
			left: -40px;
		 }
		
		}
		 
		@media(max-width:375px){
			#_dropdown_logo,  .menu-btn-left{
				position: absolute;
				z-index: 3;
				right: 20px;
				 left: 9px !important;
				top: -21.2px !important;
				height: 50px;
				width: 50px;
				text-align: center;
				line-height: 50px;
				color: #fff;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
			  }

			  .grid_case{display:grid;grid-template-columns: 55% 45% !important;}
			  .grid_case .href{
				font-size:8px !important;
			  }
			  .hidden_375{display:none;}
			  
			
		 }
 
		 .img_avatar{
			width:34px;height:34px;border-radius:50%;position:relative;left:-4px;
		 }

  @media(max-width:768px){
  .svg-logo{
display:block;
  }
  .svg_logo{
display:none;
float:left;
  }

  .grid_case{
		display:grid;grid-template-columns:36% 22% 20% 29%;
	}
	.grid_case .social{
		position:relative;top:-30px;
	}
	.texts_href{
		display:grid;grid-template-columns: 33% 33% 33%;grid-gap:3px;
	}

	.grid_case .href{
		font-size:9px !important;font-weight:800;color:#434345;
	}
}

		 /**
		=========================================================
		 FOOTER
		=========================================================
		 **/

		 .footer, .grid-row,.footer .grid-row{
			background:#dfdfdf !important;
			padding:15px 20px;
			height:auto;
			width:100%;
			overflow-x:hidden !important;
			color:#000;
			font-family:'Spartan','GD Sherpa Regular';
		}
		.footer{
			padding:15px 10px 25px 90px !important;
			display:grid;grid-template-columns: 28% 22% 22% 28%;grid-gap:20px;
			align-items: center;
			justify-content: center;
		}

		.footer span, .footer h4, .footer h4 span, .box_1 .foo_h4{
			font-family:'GD Sherpa Regular' !important;
		}
		.foo_h4 span{
			color:#000;
		}
		.foo_h4{color:#000;}
		.footer_navigation_ul li{
			color:#dfdfdf;
		}
		.footer_navigation_ul{
			padding-top:0;margin-top:-45px;line-height:35px;
		}
		.footer_navigation_ul li > a, .footer_navigation_ul b{
			color:#000;font-family: 'Spartan','GD Sherpa Regular';
			font-size:13px;font-weight:400;
		}
		.footer_navigation_ul b{
			font-weight:700;font-size:19px;
		}
		.footer_navigation_ul li > a:hover{
			text-decoration:underline;
		}
		.footer_logo{
			width:130px;margin:10px 0 15px 0;
		}
		.copyright{
			background:#efefef;
			text-align:Center;color:#000;font-family: 'GD Sherpa Regular';
			font-size:13.5px;
			padding:20px 15px;
		}
		.adjust{
			margin:10px auto 10px auto;	} .email_form .input-md{
			border-radius:10px;height:60px;padding-left:9px;width:82%;
		}
		.text-opacity-drop{
			color:#000 !important;font-family:'Spartan','GD Sherpa Regular' !important;font-weight:600;

		}
			.text-opacity-drop span,.adjust span{
				font-family:'Spartan','GD Sherpa Regular' !important;font-weight:600;
			}
		.btn_sn svg{
			line-height:25px;
		}
		.input-md::placeholder{
			font-weight:700;font-size:12px;
		}
		.email_form label{
			font-size:10.5px;margin:0 0 15px 0px;
		}
		.divbox_1{font-family:'Spartan','GD Sherpa Regular' !important;font-weight: 500;}
		.box_4 .socials{margin:15px 0 0 10px;display:flex;flex-direction: row;justify-content:first baseline;flex:auto;position:relative;
		}

		.box_4 .form{
		display:flex;flex-direction: column;flex:1;flex-basis: auto;
		}

		.form .input-md{width:100%;height:65px;}
		.socials a, .phone div span{ margin-right:10px;}
		.phone div{	display:flex;flex-direction: row;flex:1 1;margin:15px 0 0 10px;	}
	
		.form .btn_sn{
			width:55px;height:55px;border-radius:50%;background:#0055aa;padding:8px;border:1px solid #fff;
			line-height: 50px;position:relative;left:-74px;top:3px;
		}
		.form .input-item{
			display: grid;grid-template-columns: 95% 5%;grid-gap:0;
		}

.page-section .center{
	text-align:center;
}
.loginlk{
        margin-right:55px;
    }
	.navhamburger{
    position:relative;top:9px;
}

.pad-section{padding-top:20px;
background:none;}
.pad-section b, .pad-section h4{font-weight:800;}
.pad-section b{font-size:16.5px;text-align: center !important;}
.pad-section h4{
	margin-top:-14px;font-size:35px;font-weight: 900;
}
.pad-section small{
	font-weight: 800;text-align: center;
}
.page-section__inner .col_title{
	font-weight:800;font-size:23px;font-family: 'Spartan','GD Sherpa Regular' !important;
}
.page-section__inner .cols{
	background:#efefef;border-radius:15px;padding:15px 25px;margin-top:20px;
}
.page-section__inner .text{font-family: 'Spartan','GD Regular Sherpa' !important;font-size:12.5px;line-height:30px;font-weight:600;}
.box_4{
padding-top:30px;padding-left:15px;
}


@media(min-width:1440px){
	.btn_search_sok{
		left:127.5%;border:0 !important;
		}
		.padd-box_1{
			padding-right:100px;
		}
}

@media(max-width:768px){
	.footer{
		grid-template-columns: 50% 50%;line-height: 35px;
		grid-gap:10px;
		padding: 20px 10px 25px 68px !important
		}
		
}

@media(max-width:425px){
.footer{
grid-template-columns: 100%;line-height: 35px;
grid-gap:67px;
padding: 20px 0 25px 20px !important
}
.bg_two{
	background-image:url('../img/cleaners.jpg');
	background-position:center center;position:Relative;left:110px;background-size:cover;
}


.h6_one{
	font-size:24px;position:relative;top:20px;bottom:10px;font-weight:700;margin-bottom:30px
}

.h4_one{
	font-size:25px;font-weight:800;line-height:40px;
}

.h5_one{

font-weight: 800;
font-size: 13.5px;
margin: auto;
line-height: 34px;
padding: 3px 27px;
margin-bottom:-49px;
}

.cols svg{
	width:45px !important;height:45px !important;
}
.footer_navigation_ul .box_1{
	margin-top:15px;padding:5px;
}
.box_4{
	padding-top:0;
}
.form .input-item{
left:-20px;
}

.email_form .input-md{
	width:80%;
}
}

.page-title{
    font-size:34px;text-align:left;color:#000;font-weight:400;line-height:44px;
    font-family:'Spartan','GD Sherpa Regular' !important;
  }
  .page-subtitle{
    font-size:20px !important;color:#000
  }
  .text-pull-left{
    text-align:left;
  }
  .form-label, .text-white{
    color:#fff;
  }
  .form-control{
    height:60px;
    border-radius:10px;
    font-family:'Spartan','GD Sherpa Regular' !important;
    font-weight:500;
  }
      
  .text-lg-1x{
	font-size:20px !important;font-weight:400 !important;color:#000;
}
.text-black{color:#000;}
.btn-flat-bed span{
	position:relative;top:-20px;margin-right:-15px
}

.text-black{color:#000;}
.btn-flat-bed{
	width:65%;
}
.btn-flat-bed span{
	position:relative;top:-20px;margin-right:-15px
}

