/** 
suppliers.css
**/
@font-face {font-family: "GD Sherpa Regular";
    src: url("../font/0aee6008b82cde991ec28387169bb13e.eot"); /* IE9*/
    src: url("../font/0aee6008b82cde991ec28387169bb13e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../font/0aee6008b82cde991ec28387169bb13e.woff2") format("woff2"), /* chrome、firefox */
        url("../font/0aee6008b82cde991ec28387169bb13e.woff") format("woff"), /* chrome、firefox */
        url("../fonts/0aee6008b82cde991ec28387169bb13e.ttf") format("truetype"), 
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../font/0aee6008b82cde991ec28387169bb13e.svg#GD Sherpa Regular") format("svg"); /* iOS 4.1- */
      }
body,html{
overflow-x:hidden;
}
.row{
margin-top:8px;
}
.form .form-control{
    height:45px;font-family:'GD Sherpa Regular';font-weight:500;font-size:13.5px;
}

.form .form-label, .form-label{
    font-family:'GD Sherpa Regular';color:#000;font-weight: 800 !important;margin-top: 12px;
}

.adjust_dw{
margin-top:20px;
}

.form .check_box_md{
width:25px;height:25px;line-height: 24px;
}

.topp_logo{
    width:100px !important;height:90px !important;
}
body, a{
    font-family:'GD Sherpa Regular','Open Sans' !important;font-size:13.5px !important;
   font-family:"Circular","Lato",Tahoma,sans-serif;
}
h1,h2,h3,h4,h5,h6{font-family: 'GD Sherpa Regular'; font-weight:900;line-height:32px;margin:10px 0;}
.h1_m_30{
    margin-top:30px;line-height: 30px;
}
h1{font-size:38px;}h2{font-size:32px}h3{font-size:25px;}h4{font-size:20px;}h5{font-size:18px;}h6{font-size:15px;}
.text-gray,.redc_grey{color:#64748b;font-size:14px;}
.text-gray{font-size:inherit;}
.bevel_border, .bevel_border_q{
    background-color: #fff;border-radius:7px;min-height:100px;line-height: 34px;margin-top: 15px;
}

.bevel_border_q{
padding:10px 0 15px 10px;background-color: none !important;
}
.bevel_border_q .ratings_box{
    margin:29px auto 5px 44px;
}
.testimonials{
    margin:10px 0 4px -15px !important; background-color: #fff !important;border-radius:7px;
    padding:15px 0 10px 0;
}
.dropdown .svg-icon{
    width:25px;height:25px;fill:none;stroke:#000;
}
.pre_heading{border-radius:8px;height:auto;padding-bottom:0;background:#fff;padding-top:15px;padding-bottom:10px;}
.box_rd{
    width:40px !important;height:40px !important;background-color:#dfdfdf;color:#000;line-height: 37px;border-radius:50%;
}
.testimonial_item{
    margin-top:10px;border-radius:8px;width:100%;padding:15px 8px;padding:5px 0 7px 30px;
}
.testimonial_sender{
    padding-top: 15px;
}
.testimonial_view .text-lg{
    font-weight:500;font-size:14px;margin-top:14px;
}

.testimonial_sender{
    padding-left:20px;color:#000;
}
.testimonial_view{
    padding:2px 0 15px 55px;color:#000;font-weight: 800;

}
.flex{display:flex;flex-direction: row;margin-top:10px;}
.flex div{margin-right:5px;margin-left: 25px !;}
.flex .btn-round{
    border-radius: 50px;width:auto;padding:9px 25px 5px 25px;height:45px;
}
.btn-round{
    font-family: 'GD Sherpa Regular';font-weight:500;border-radius:50px;border:0;height:50px;padding:auto;font-size:13px;padding-left:20px;padding-right:20px;
}
.btn-round .svg-icon{width:19px;fill:#fff;stroke:#fff;}
.btn-empty{background-color: #dfdfdf;border:#0099cc;color:#0d2453;}
.btn-round span{margin-left:7px;}
.view .svg-icon{
    width:30px;height:30px;
}

.dark-bg{
    background-color: #0d2453;padding-left: 45px !important;padding-right: 45px !important;
    
}

.form .input-control-lg, .input-control-lg{height:55px;border-radius:8px;}
.text-gray{color:#666;}
.view .hide_link{font-weight: 800;color:#444;}

.labels{
    display:grid;grid-template-columns: 15% 85%;
}

.labels:nth-child(1){
justify-items: self-end;position:relative;top:15px;
}
.labels .text-gray{
    color:#ccc;
}
.labels .labs{
    position:relative;
    top:-15px;
}


.text-md, .text-lg{font-family: 'Spartan','GD Sherpa Regular' !important;}
.text-md{font-size:13.5px;font-weight: 600;}.text-lg{font-size:19px;font-weight: 700;}
.bevel_border p{font-size:14px;font-weight:700;color:#64748b;}
.bevel_border h5{
    font-size:30px;font-weight: 800 !important;
}

.img-responsive-lg{
    width:100px;height:100px;border-radius:10px;
}
.grid-box-img{
display:grid;grid-template-columns: 15% 15% 15% 15%;grid-gap:5px;
}
.mesg_box{padding-left:0 !important;}
.fuzzy-search{border:1px solid #dfdfdf;background-color: #efefef;}
.fuzzy-search:placeholder{
    font-size:11px; font-weight: 800;
}
#navbarVerticalNav{
    line-height: 35px !important;
}
.sidenav .svg-icon, #sidenav .svg-icon{
    fill:none;stroke:#0d2453;width:15px !important;height:15px !important;
}
.notification-indicator .svg-icon{
    fill:none;stroke:#888;width:27px;height:28px;min-width:30px !important;
    position: relative;right:15px;top:-4px;font-weight:lighter;
}
.grey_bg{background:#dfdfdf !important;border-radius:50%;width:60px !important;height:60px !important;}
.bmsgg span{font-size:12.5px;line-height:34px;font-weight:500 !important;color:#000 !important;}
.bmsgg,.msgg{
    padding:10px 0 15px 0;
}
.certification_section{
    padding:15px 15px;margin:15px 15px;
}
.nav_img{
width:25px !important;height:25px !important;position:relative;left:-10px;top:-3px;z-index:-1;
}
.usr_icon{left:12px;top:4px;}

.notification-indicator .svg-icon, .avatar .svg-icon{

    width:20px;height:20px;font-weight:400 !important;

}

.pull_right{
float:right;
}

.avatar .svg-icon{
stroke:#efefef;
}


.credit{
   height:auto; background: #0d2553;padding:4px;font-size:10px;border-radius:12px;color:#fff !important;font-family:GD Sherpa Regular;
position:relative;top:5px;left:88px;
}
.navbar-vertical-toggle svg{
    width:150px !important;height:auto;
}

.img-circle-md, .img-circle-lg{width:33px;height:33px;border-radius:50%;}
.img-circle-lg{width:80px;height:80px;}
.grid-2-x{display:grid;grid-template-columns: 17% 83%;grid-gap:6px;background-color: #fff;}
.grid-2-x small{
    font-weight:600;font-size:11.5px;
}
.move-left-20{
    position:relative;left:-3px;top:-5px;
}
.grid-2-y{display:grid;grid-template-columns: 60% 40%;grid-gap:2px;width:100%;margin-top: 9px;}

.footer-item .svg-icon{
    width:15px;height:15px;fill:none;stroke:#0d2453;font-weight:800;margin-right:2px;position:relative;top:0px;
}
.footer-item span{
    font-size:11px;font-weight:500;
}
.request_box{
    background:#0d2453;color:#fff;position:relative;left:10px;width:20px;height:20px;border-radius:50%;text-align:center;line-height: 19px;font-size:10px;
}

.tp-padding{
    padding:20px 0;font-size:14.5px;font-weight:400 !important;display:grid;
    grid-template-columns: 70% 30%;grid-gap:inherit;margin-bottom:15px;
}

.navigation_control{
    display:grid;grid-template-columns: 25% 25% 25% 25%;grid-gap:0;
}
.navigation_control .svg-icon, .btn-grey-bg .svg-icon, .flex-rw .svg-icon,.position-relative .svg-icon{
width:14px;fill:none;stroke:#0d2453;font-weight:700;color:#000;min-width:20px;fill-opacity: inherit;
}
.position-relative .dropdown:hover{
    background-color:#e7f5d6;width:50px;height:50px;border-radius: 50%;line-height: 37px;
}
.position-relative{
    display:flex;flex-direction: row !important;
}
.position-relative .dropdown .svg-icon{
width:9px;fill:#333;
}
.position-relative .dropdown{
    position:relative;top:7.5px;left:5px;
}
.navigation_control .btn:hover, .btn-grey-bg:hover{
    background:#e7f5d6;border-radius:50%;width:50px !important;height:50px !important;line-height: 37px;
}
.requests{background:#fff;border-radius: 10px;padding:15px 5px 15px 5px;height:auto;
    margin-bottom:5px !important;}
.other_details_area{
    line-height: 32px;
}
.underline{
    text-decoration: underline !important;
}
.tk_up{
    position:relative;top:-8px;
}

.scrollable_table{width:100%; overflow-x:scroll;}
.credit_box{
    width:auto;height:28px;padding:6px 10px;border-radius:50px;background-color: #0d2453;color:#fff;font-size:10px;
    font-weight:600;font-family:'GD Sherpa Regular';position:Relative;right:5px;
}

.table_rws{
font-size:12.5px;
}
.hidden{
    display:none;
}

.related_item{
    background-color: #fff;
    min-height: 100px;
    border-radius: 7px;padding:10px 8px 5px 8px;
    margin-bottom: 10px;
}
.ders_box{
    margin-top:-35px;
}
.requests .request_title{color:#000;font-weight:600;}
.titles{line-height:29px;}
.titles p{
    font-size:12.5px;
}
.titles span{
    font-weight:600;
}
.flex-rw{
    display:flex;flex-direction: column;
}
.d-flex .svgico{
    width:100px;
}
.grid-box{
    display:grid;grid-template-columns: 10% 90%;position:relative;left:-35px;margin-top:-20px;
}
.grid-box .text_board{
    display:grid;grid-template-rows:100%;position:relative;
}
.grid-box .img_box img{
    position:relative;top:5px;left:-20px;
}
#hide_lg , #hide_md{display:none;}

.containerx{display:flex;flex-direction: row;margin-top:40px;}
.containerx div{margin-left:0;padding:14px 5px 12px 25px;margin-right:8px;}
.underline{text-decoration: underline;}.float-bottom{bottom:0;position:relative;}
.text-tiny{font-size:10px;}

.ratings_box{
    display:grid;grid-template-columns: 55% 45%;grid-gap:5px;margin-top:15px;
}
.progress{
    background-color:none !important;
    box-shadow:0 !important;
}

/***
=====================
RATINGS
=====================
**/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    }
    .rate:not(:checked) > input {
    position:absolute;
    display: none;
    }
    .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    }
    .rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    }
    .rate:not(:checked) > label:before {
    content: '★ ';
    }
    .rate > input:checked ~ label {
    color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
    }
    .star-rating-complete{
       color: #c59b08;
    }
    .rating-container .form-control:hover, .rating-container .form-control:focus{
    background: #fff;
    border: 1px solid #ced4da;
    }
    .rating-container textarea:focus, .rating-container input:focus {
    color: #000;
    }
    .rated {
    float: left;
    height: 36px;
    padding: 0 5px;
    position: relative;
    left: -53px;
    top: -30px;
    }
    .rated:not(:checked) > input {
    position:absolute;
    display: none;
    }
    .rated:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:22px;
    color:#ffc700;
    }
    .rated:not(:checked) > label:before {
    content: '★ ';
    }
    .rated > input:checked ~ label {
    color: #ffc700;
    }
    .rated:not(:checked) > label:hover,
    .rated:not(:checked) > label:hover ~ label {
    color: #deb217;
    }
    .rated > input:checked + label:hover,
    .rated > input:checked + label:hover ~ label,
    .rated > input:checked ~ label:hover,
    .rated > input:checked ~ label:hover ~ label,
    .rated > label:hover ~ input:checked ~ label {
    color: #c59b08;
    }

.title_rating .pull_right{

position:relative;
top:2px;left:-10px;

}

.select_controls{
    display:grid;grid-template-columns: 33% 33% 33%;grid-gap:3px;
}

.blur{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    width: 100%;
    background-color: #fff;
    margin:0 !important;
}

.archived{
    color:#000;text-align:center;font-weight:600;position:relative;top:80px;z-index:2000;
}
.text-lg{
    font-size:17px;
}
.wht-bg{
    background:#fff;padding:2px 10px 2px 10px;line-height: 29px;
}
.wht-bg span{
font-weight: 700;
}

.rw_check .checkbox{
    width:20px;height:20px;
}
.rw_check span{font-size: 13.5px !important; font-weight:700;position:relative;top:-10px;left:5px;}
.adjusted_row{
    position:relative;left:20px;
}
.adjusted_row .rw_check span{
    font-size:10.5px;font-weight: 500;
}
.adjusted_row .rw_check .checkbox{
width:20px;height:20px;border-radius:50%;
}
.tabs{
    display:grid;grid-template-columns:15% 15% 15% 15%;margin:15px 0 -5px -4px;border-radius:4px;grid-gap:5px;
}
.flex-box{
    display:flex;flex-direction: row;justify-content: space-between;padding:10px 15px;
}
#displayOnDivClose{
    position:relative;left:45%;top:15px;border-radius:50px;height:40px;background:#0d2453;color:#fff;
    font-size:9px;width:140px;padding-top:7px;
}
#displayOnDivClose span{
    margin-left:5px;
}
.flex-box span{
    margin:15px;
}
.tabs a{font-weight:800;color:#333;}
.tabs a:hover{text-decoration: underline;
}
.text-grey{
    color:#999;
}
.btn-white{
    background-color: #fff !important;border-radius:50px;width:auto;padding:auto 10px auto 10px;
}

.preview_board .circl_img{
    display:block;margin:auto;
}
.img-rounded{
    border-radius:14px;
}
.circle{
    width:35px !important;height:35px !important;background:#0055aa;
    border-radius: 50%;position:relative;right:-50%;top:10px;
}
.btn-svg svg{
    display:block;
    float:right;
    position:relative;
    top:12px;
}

.buyers_info{
background:#fff;border-radius:10px;padding:10px 8px;
}

.info_item span{
    font-size:12px;
}

.tabs button{
border-bottom: 2px solid #0d2453 !important;margin:3px;
}

.flex-btn .btn{
    padding-top:10px;border-radius:50px;
}

.dark-md{
    height:40px !important;background:#0d2453 !important;border:0;
}
.message_footer{
    height:300px !important;width:101% !important;bottom:40px !important;
    padding-left:10px !important;border-radius:20px;background:none !important;
}
.message_footer .msg_box{
    height:190px !important;margin-bottom:5px;color:#000;
    width:100% !important;border:1px solid #bfbfbf;border-radius: 10px;text-align:left;margin-left:0;margin-right:0;
}
.message_footer .btn{
    background:#0d2453 !important;height:50px;border-radius:5px !important;font-size:11.5px;color:#fff !important;border:0 !important;
    width:100% !important;
}
/**
======================
MOBILE DESIGN STYLES
======================
**/

@media(max-width:425px){
    .row>* {
    width:100%;
    }
    .pre_heading{padding-right:0;}
    .tp-padding{
       grid-template-columns: 50% 50% !important;
    }
    .row>div{width:inherit;}
    .box_rd{position: relative;left:21px;}
    .title_rating{
        padding-left:28px;padding-right: 0;;
    }
    .testimonial_view .text-lg{
        padding-right: 60px;padding-left: auto;
    }
    .rated:not(:checked) > label{
        font-size:12px;font-weight: 800;
    }
    .hide_link{font-size:17px !important;}
}

@media(max-width:1024px){
#hide_lg, #hide_md{
    display:block;
}
}

@media(max-width:768px){
    .bevel_border_q{
        padding:0px;
        }

        .testimonial_sender{
            padding-left:0px;color:#000;
        }
}

@media(max-width:768px and min-width:424px;){
.tp-padding{
    grid-template-columns: 40% 60%;
    }
.requests{
    width:100vw;
}
    .row>* {
        width:auto !important;margin-right:18px;
        }
    
}