/*** custom login styles for login page**/
.fb_btn, #fb_btn{
    font-size:0.65rem;width:auto;padding-left:152px;padding-right:152px;background:#0d2453;
    font-weight:700;border:2px solid #0d2453;color:#fff !important;text-align: center;
}
.fbs{font-family:Spartan;font-weight:800;font-size:24px;}
#logbtn{font-size:12.5px;padding-left:70px;padding-right:70px;font-weight:700;background:goldenrod;border:0;}

.mobile_vbl{display:none;}

#fb_btn img, .loger img{
    width:50px !important; height:50px !important; position:relative;left:70px;top:48px;z-index:10;
}

.box{
    margin-top:-38px;border:1px solid #3f3f3f;height:auto;padding:18px;border-radius:10px;
}
.btn-gold{
    background-color: goldenrod !important;border:0 !important;
}

@media(max-width:768px){
    .mobile_vbl{
        display:block;
        margin:40px 0 -25px 0;
    }

}


@media(max-width:426px){
    #fb_btn{
font-size:8px !important;
    }
    .mb-md-7 h3{
        font-size:15px;margin-top:0px;
    }
    .mb-md-7 p{
    margin-bottom:-10px;
    }
}

@media(max-width:376px){
    #fb_btn{
        font-size:10px;padding-left:150px;padding-right:150px;
    }
    .mb_vsl{
display:none;
    }
 
}